<template>
  <EditorView>
    <template v-slot:headerinfo>
      <p class='jamtitle'>{{currentlyEditing}}</p>
      <p class='jaminfo'>Page - Update</p>
    </template>
    <template v-slot:headericon>
      <Cmenu v-bind:options="moreOptions" v-bind:onSelect="onMore">
        <Cicon icon='Dots' />
      </Cmenu>
    </template>
    <div v-if="hasEditorData">
      <div class="options">
        <div
           v-for="(item, index) in frontmatter.data.fields"
           v-bind:key="index"
        >
          <Cinput v-if="item.type === 'input'" v-model="item.value" v-bind:label="item.label" v-on:input="onFieldChange($event, index)"/>
          <Cselect v-else-if="item.type === 'select'" v-model="item.value" v-bind:label="item.label" v-bind:options="item.options" v-on:input="onFieldChange($event, index)"/>
          <Cradiogroup v-else-if="item.type === 'radio'" v-bind:value="item.value" v-bind:label="item.label" v-bind:options="item.options" v-on:input="onFieldChange($event, index)"/>
          <Ccheckboxgroup v-else-if="item.type === 'checkbox'" v-bind:value="item.value" v-bind:label="item.label" v-bind:options="item.options" v-on:input="onFieldChange($event, index)"/>
        </div>
        <Ctextarea 
          label='Content'
          placeholder=""
          v-bind:value="frontmatter.content"
          v-on:input="onContentChange"
        />
      </div>
    </div>
    <div class="jameditloading" v-else>
      Loading...
    </div>
  </EditorView>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
import FM from "gray-matter";

import Ccheckboxgroup from '../shared/Ccheckboxgroup.vue';
import Cicon from '../shared/Cicon.vue';
import Cinput from '../shared/Cinput.vue';
import Clabel from '../shared/Clabel.vue';
import Cmenu from '../shared/Cmenu.vue';
import Cradiogroup from '../shared/Cradiogroup.vue';
import Cselect from '../shared/Cselect.vue';
import Ctextarea from '../shared/Ctextarea.vue';
import EditorView from '../shared/EditorViews.vue';

export default {
  name: 'ViewEdit',
  	props: {
  },
  components: {
    Ccheckboxgroup,
    Cicon,
    Cinput,
    Clabel,
    Cmenu,
    Cradiogroup,
    Cselect,
    Ctextarea,
    EditorView,
  },
  data() {
    return {
      moreOptions: ['Discard changes', 'Push changes live'],
      rad: 'Dark Theme',
      radop: ['Left', 'Right', 'Center'],
      render: 'Two',
      checkbox: ['home'],
      agree: true,
      renderoptions: ['One', 'Two', 'Three','Based on file location and what happens if for some reason the text is supper super long?'],
    }
  },
  computed: {
    ...mapState([ 
      'currentlyEditing',
      'hasEditorData',
      'editorDataPath',
      'editorDataContent',
    ]),
    frontmatter: function () {
        //!!!Super import to have {} or gray-matter will cache and cause update problems
        return FM(this.editorDataContent, {});
    }
  },
  created: function() {
    this.getEditorData();
  },
  methods: {
    ...mapMutations([
      'setCurrentlyEditing', 
      'setEditorDataContent'
    ]),
    ...mapActions([
      'getEditorData', 
    ]),
    onMore: function (value) {
      if (this.hasEditData) {
        console.log("Selected more menu item ", value);
      }
    },
    onClose: function () {
      this.setCurrentlyEditing();
    },
    onContentChange: function (value) {
      let tempFrontMatter = this.frontmatter;
      tempFrontMatter.content = value;
      this.setEditorDataContent(FM.stringify(tempFrontMatter));
    },
    onFieldChange: function (value, index) {
      this.frontmatter.data.fields[index].value = value;
      this.setEditorDataContent(FM.stringify(this.frontmatter));
    }
  }
};
</script>

<style scoped lang="scss">
  .jamheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 16px 0 16px;
  }
  .info {
    padding: 0 0 0 16px;
  }
  .headerend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
  }
  .headerend .cIcon {
    margin: 0 0 0 16px;
  }
  .options {
    padding: 32px 16px 32px 16px;
  }
  .options .cinput {
    padding: 0 0 32px 0;
  }

</style>