<template>
  <EditorView>
    <template v-slot:headerinfo>
      <p class='jamtitle'>Version: Current</p>
      <p class='jaminfo'>{{fileTreeCount}} Files · {{changesListCount}} Changes</p>
    </template>
    <template v-slot:headericon>
      <Cicon icon='Gear' />
      <Cmenu v-bind:options="newOptions" v-bind:onSelect="onNew">
        <Cicon icon='Plus' />
      </Cmenu>
    </template>
    <div class="browser">
      <div class="fileslist">
        <FilesFolder
          v-if="!needFileTree"
          name="Content"
          path=""
          v-bind:kids="fileTreeFormated"
          expanded
        />
      </div>
    </div>
  </EditorView>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import Cicon from '../shared/Cicon.vue';
import Cmenu from '../shared/Cmenu';
import FilesFile from '../shared/FilesFile.vue';
import FilesFolder from '../shared/FilesFolder.vue';
import EditorView from '../shared/EditorViews.vue';
import Searchbar from '../shared/Searchbar.vue';

export default {
  name: 'ViewEdit',
  	props: {
  },
  components: {
    Cicon,
    Cmenu,
    FilesFile,
    FilesFolder,
    EditorView,
    Searchbar,
  },
  data() {
    return {
      newOptions: ['Add page', 'Add component', 'Add image', 'Add folder'],
    }
  },
  computed: {
    ...mapState([ 'needFileTree' ]),
    ...mapGetters([
      'changesListCount',
      'fileTreeFormated',
      'fileTreeCount',
    ]),
    folders: function () {
      return this.list.filter(item => item.type === 'folder')
    },
    files: function () {
      return this.list.filter(item => item.type === 'file')
    }
  },
  created: function() {
    if (this.needFileTree){
      this.getFileTree();
    }
  },
  methods: {
    ...mapActions([
      'getFileTree', 
    ]),
    onNew: function (value) {
      console.log("Selected new menu item ", value);
    }
  }
};
</script>

<style scoped lang="scss">
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 16px 0 16px;
    //background-color: rgba(255, 255, 255, .1);
  }
  .info {
    padding: 0 0 0 16px;
  }
  .headerend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
  }
  .headerend .cIcon {
    margin: 0 0 0 16px;
  }
  .browser {
    margin: 32px 0 0 0;
    background-color: rgba(0, 0, 0, .2);
    height: 800px;
  }
  .fileslist {
    padding: 16px 16px 16px 16px;
  }
</style>