<template>
  <div>
    <div class="jamheader">
      <Menu></Menu>
      <SaveButton ></SaveButton>
    </div>
    <div>
      <div class="jamgraphic">
        <Graphic></Graphic>
      </div>
      <div class="jaminstruction">
        <div class="jaminstructiontitle">Select something to edit</div>
        When you hover content in your site, you will see an edit icon.
      </div>
    </div>
    <div class="jamcta">
      <div class="jamrow">
        <div class="jamctablock"  v-on:click="openFile('pages/comp/comp1.md')">
          <Cicon icon="Gear" color="rgba(255, 255, 255, .4)"></Cicon>
          <div class="jamblocktitle">
            Edit site settings
          </div>
        </div>
        <div class="jamctablock">
          <Cicon icon="Plus" color="rgba(255, 255, 255, .4)"></Cicon>
          <div class="jamblocktitle">
            Add content
          </div>
        </div>
      </div>
      <div class="jamrow">
        <div class="jamctablock" v-on:click="openView('files')">
          <Cicon icon="File" color="rgba(255, 255, 255, .4)"></Cicon>
          <div class="jamblocktitle">
            Browse files
          </div>
        </div>
        <div class="jamctablock" v-on:click="openView('save')">
          <Cicon icon="Disk" color="rgba(255, 255, 255, .4)"></Cicon>
          <div class="jamblocktitle">
            Save changes
          </div>
        </div>
      </div>
    </div>
    <div class="jamrecent">
      <div class="jamrecentheader">
        <Cicon icon="Gear" ></Cicon>
        <div class="jamrecenttitle">
          Recent files
        </div>
      </div>
      <div class="jamrecentlist">
        <div class="jaminfo" v-if="recentList.length === 0">
          No recent files
        </div>
        <div 
          v-else
          class="jamrecentlistitem"
          v-for="(item, index) in recentList"
          v-bind:key="index"
          v-on:click="openFile(item.path)"
        >
          <div class="jaminfo">
            {{item.type}}
          </div>
          <div>
            {{item.path}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Cicon from '../shared/Cicon.vue';
import Graphic from '../icons/Pencil.vue';
import Menu from '../shared/Menu.vue';
import SaveButton from '../shared/SaveButton.vue'

export default {
  name: 'Home',
  	props: {
  },
  components: {
    Cicon,
    Graphic,
    Menu,
    SaveButton,
  },
  data() {
    return {
      moreOptions: ['Discard changes', 'Push changes live'],
    }
  },
  computed: {
    ...mapState([ 'recentList' ]),
  },
  methods: {
    ...mapMutations([
      'setCurrentlyEditing',
      'setCurrentView'
    ]),
    openFile: function (path) {
      this.setCurrentlyEditing(path);
    },
    openView: function (path) {
      this.setCurrentView(path);
    }
  }
};
</script>

<style scoped lang="scss">
  .jamheader {
    position: fixed;
    top: 0;
    width: 480px;
    z-index: 999;
  }
  .jamgraphic {
    width: 128px;
    height: 128px;
    margin: 128px auto 32px auto;
    fill: rgba(255, 255, 255, .2);
  }
  .jaminstruction {
    width: 256px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
  }
  .jaminstructiontitle {
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
  }
  .jamcta {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 56px 32px 0 32px;
  }
  .jamrow {
    display: flex;
    justify-content: center;
  }
  .jamctablock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 196px;
    flex-grow: 0;
    margin: 8px 8px 8px 8px;
    padding: 16px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
  }
  .jamblocktitle {
    font-size: 12px;
    padding: 8px 0 0 0;
  }
  .jamctablock:hover {
    background-color: rgba(0, 0, 0, .02);
  }
  .jamsep {
    height: 64px;
    width: 1px;
    background-color: rgba(255, 255, 255, .2);
  }
  .jamrecent {
    padding: 56px 0 32px 0;
    text-align: center;
  }
  .jamrecentheader {
    display: flex;
    justify-content: center;
    padding: 0 64px 0 32px;
  }
  .jamrecenttitle {
    padding: 0 0 16px 8px;
  }
  .jamrecentlistitem {
    padding: 0 0 16px 0;
    cursor: pointer;
  }

</style>