<template>
  <EditorView>
    <template v-slot:headerinfo>
      <p class='jamtitle'>{{changesListCount}} Changes</p>
      <p class='jaminfo'>{{changesListCheckedCount}} of {{changesListCount}} Selected</p>
    </template>
    <template v-slot:headericon>
      <Cmenu v-bind:options="moreOptions" v-bind:onSelect="onMore">
        <Cicon icon='Dots' />
      </Cmenu>
    </template>
      <div class="jamsaveoptions">
        <Cbutton text='Save changes' :onClick="onPushLive" />
      </div>
      <div class="changelist">
        <SaveListItem
            v-for="(item, index) in changesList"
            v-bind:key="index"
            v-bind:id="index"
            v-bind:type="item.type"
            v-bind:file="item.path"
            v-bind:checked="item.checked"
            :onClick="onSaveListItem"
        />
      </div>
  </EditorView>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import Cicon from '../shared/Cicon.vue';
import Cbutton from '../shared/Button.vue';
import Cmenu from '../shared/Cmenu';
import EditorView from '../shared/EditorViews.vue';
import Searchbar from '../shared/Searchbar.vue';
import SaveListItem from '../shared/SaveListItem.vue';

export default {
  name: 'ViewEdit',
  	props: {
  },
  components: {
    Cbutton,
    Cicon,
    Cmenu,
    EditorView,
    Searchbar,
    SaveListItem
  },
  methods: {
      ...mapMutations([
        'toggleChangesListItem', 
      ]),
      ...mapActions([
        'saveChanges', 
      ]),
      onPushLive: function () {
          console.log('Push it live!');
          this.saveChanges();
      },
      onSaveListItem: function (id) {
          this.toggleChangesListItem(id);
      },
      onMore: function (value) {
        console.log("Selected more menu item ", value);
      },
  },
  data() {
    return {
      moreOptions: ['Push changes to branch', 'Discard all changes'],
    }
  },
  computed: {
    ...mapState([ 'changesList' ]),
    ...mapGetters([
      'changesListCount',
      'changesListCheckedCount',
    ])
  }
};
</script>

<style scoped lang="scss">
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 16px 0 16px;
    //background-color: rgba(255, 255, 255, .1);
  }
  .info {
    padding: 0 0 0 16px;
  }
  .headerend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
  }
  .headerend .cIcon {
    margin: 0 0 0 16px;
  }
  .changecount {
      font-size: 24px;
      font-weight: 600;
      margin: 0 -8px 0 0;
  }
  .jamsaveoptions {
    padding: 32px 0 0 16px;
  }
  .options {
    padding: 32px 0 0 0;
  }
  .changelist {
    margin: 32px 0 0 0;
    background-color: rgba(0, 0, 0, .2);
    height: 800px;
  }
</style>