<template>
  <button v-bind:class="{ disable: working }" class="btn" @click="onClick">
      {{ text }}
      <div v-if="working === true" class="spin"><i class="fas fa-circle-notch"/></div>
  </button>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Button',
  props: {
    text: {
      type: String,
      required: true,
    },
    onClick: {
      type: Function,
      required: true
    },
    working: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  methods: {
  }
};
</script>

<style scoped lang="scss">
  .btn {
    position: relative;
    width: fit-content;
    padding: 8px 36px 8px 36px;
    text-align: center;
    font-size: 12px;
    border-radius: 100px;
    background-color: rgba(237, 30, 121, 1);
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
  }
  .btn:hover {
    background-color: rgba(237, 30, 121, 9);
  }
  .disable {
    pointer-events: none;
  }
  .spin {
    position: absolute;
    right: 8px;
    top: 6px;
    opacity: .6;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


</style>