<template>
    <div class="radioGroup cinput">
        <Clabel v-bind:label="label" />
        <div class="options">
            <Ccheckbox 
                v-for="(item, index) in options"
                v-bind:key="index"
                v-bind:name="item" 
                v-bind:label="item" 
                v-bind:value="item"
                v-bind:checked="value"
                v-on:change="changeValue"
            />
        </div>
    </div>
</template>

<script>
import Ccheckbox from './Ccheckbox.vue';
import Clabel from './Clabel.vue';

export default {
    name: 'CheckboxGroup',
    props: {
        value:  {
            type: Array,
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
        label: {
            type: String,
            required: false,
        }
    },
    components: {
        Ccheckbox,
        Clabel,
    },
    data() {
        return {     
        selectedValue: "Default theme"
        }
    },
    methods: {
        changeValue: function(value) {
            console.log('Check Change', value);
            this.$emit("input", value)
        }
    },
};
</script>

<style scoped lang="scss">
  .radio {
      margin: 0 16px 0 0;
  }
  .jamcheckbox {
    padding: 0 0 8px 0;
  }
</style>