<template>
    <label class="jamcheckbox">
        <div class="jamcheck">
            <input
                type="checkbox"
                :checked="isChecked"
                @change="change"
            />
            <div class="jamcustomcheck">
                <Cicon icon="Checkbox"  v-if="!isChecked" />
                <Cicon icon="CheckboxChecked"  v-if="isChecked" />
            </div>
        </div>
        <span class="label">{{ label }}</span>
    </label>
</template>


<script>
import Cicon from '../shared/Cicon.vue'

export default {
    name: 'Ccheckbox',
    components: {
        Cicon,
    },
    model: {
        prop: "checked",
        event: "change"
    },
    props: {
        label: {
            type: String,
            required: false,
        },
        checked: {
            value: [Boolean, Array]
        }, 
        value: {
            type: String,
            required: false,
        },
    },
    computed: {
        isChecked() {
            if (typeof this.checked === "object"){
                return this.checked.includes(this.value);
                }else {
                return this.checked
            }
        }
    },
    methods: {
        change() {
            if (typeof this.checked === "object"){
                const checked = this.checked.slice();
                const found = checked.indexOf(this.value);
                if (found !== -1) {
                checked.splice(found, 1);
                } else {
                checked.push(this.value);
                }
                this.$emit("change", checked);
            }else {
                this.$emit("change", !this.checked);
            }
        }
    }
};
</script>

<style scoped lang="scss">
.jamcheckbox {
    display: flex;
    align-items: center;
    user-select: none;
}
.jamcheckboxgroup .jamcheckbox {
    padding: 0 0 16px 0;
}
.jamcheck {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}
.jamcheck input {
    width: 24px;
    height: 24px;
    margin: 0;
    opacity: 0;
}
.jamcustomcheck {
    position: absolute;
    top: 0;
    left: 0;
}
.label {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  font-weight: 600;
}

</style>

<style lang="scss">
.jamcheckboxgroup {
    padding: 0 0 16px 0;
}
</style>

