<template>
  <div class="cIcon" :style="cssVars">
      <div class="outline" v-bind:class="{  outlineActive: isActive }" >
        <component :is="icon"></component> 
      </div>
      <div class="fill" v-bind:class="{ active: isActive }">
        <component :is="icon + `F`"></component> 
      </div>
  </div>
</template>

<script>
import Arrow from '../icons/Arrow.vue';
import ArrowF from '../icons/ArrowF.vue';
import Checkbox from '../icons/Checkbox.vue';
import CheckboxF from '../icons/CheckboxF.vue';
import CheckboxChecked from '../icons/CheckboxChecked.vue';
import CheckboxCheckedF from '../icons/CheckboxCheckedF.vue';
import Close from '../icons/Close.vue';
import CloseF from '../icons/CloseF.vue';
import Disk from '../icons/Disk.vue';
import DiskF from '../icons/DiskF.vue';
import Dots from '../icons/Dots.vue';
import DotsF from '../icons/DotsF.vue';
import File from '../icons/File.vue';
import FileF from '../icons/FileF.vue';
import Gear from '../icons/Gear.vue';
import GearF from '../icons/GearF.vue';
import Git from '../icons/Git.vue';
import GitF from '../icons/GitF.vue';
import Pencil from '../icons/Pencil.vue';
import PencilF from '../icons/PencilF.vue';
import Plus from '../icons/Plus.vue';
import PlusF from '../icons/PlusF.vue';
import Search from '../icons/Search.vue';
import SearchF from '../icons/SearchF.vue';

export default {
  name: 'Cicon',
	props: {
    icon: {
      type: String,
      required: false,
      default: "file"
    },
    isActive: {
      type: Boolean,
      required: false,
      default: false,
    },
    size: {
      value: [String, Array],
      required: false,
      default: '24px'
    },
    color: {
      value: [String, Array],
      required: false,
      default: '#FFF'
    }
  },
  components: {
    Arrow,
    ArrowF,
    Checkbox,
    CheckboxF,
    CheckboxChecked,
    CheckboxCheckedF,
    Close,
    CloseF,
    Disk,
    DiskF,
    Dots,
    DotsF,
    File,
    FileF,
    Gear,
    GearF,
    Git,
    GitF,
    Pencil,
    PencilF,
    Plus,
    PlusF,
    Search,
    SearchF,
  },
  computed: {     
    Outline() {    
      switch(this.icon) {
        case "close":
          return 'Close';
          break;
        case "dots":
          return 'Dots';
          break;
        case "disk":
          return 'Disk';
          break;
        case "file":
          return 'File';
          break;
        case "plus":
          return 'Plus';
          break;
        default:
          return 'Pencil';
      }; 
    },
     cssVars() {
      return {
        '--icon-size': this.size,
        '--icon-color': this.color,
      }
    }
  },
};
</script>

<style scoped lang="scss">
  .cIcon {
    width: var(--icon-size);
    height: var(--icon-size);
    position: relative;
    flex-basis: var(--icon-size);
    flex-grow: 0;
    flex-shrink: 0;
    fill: var(--icon-color);
  }
  .outline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .4s; 
    transition: opacity .4s;
  }
  .fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .4s; 
    transition: opacity .4s;
  }
  .active {
    opacity: .75;
  }
  .outlineActive {
    opacity: 0!important;
  }
  .cIcon:hover .outline, .tab:hover .outline {
    opacity: 0;
  }
  .cIcon:hover .fill, .tab:hover .fill{
    opacity: 1;
  }

</style>