<template>
  <div class="clabel">
      <label>{{label}}</label>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Clabel',
	props: {
    label: {
      type: String,
      required: false,
    },
    }
};
</script>

<style scoped lang="scss">
.clabel {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 8px 0;
}

</style>
