<template>
    <label class="radio">
        <div class="circles">
            <input type="radio" v-bind:value="label" v-bind:name="name" v-model="radioButtonValue">
            <div class="circle" />
            <div class="circleSelect" v-if="label === value"/>
        </div>
        <span class="label">{{ label }}</span>
    </label>
</template>

<script>
import axios from 'axios';
import Clabel from './Clabel.vue';

export default {
  name: 'Cradio',
  components: {
    Clabel,
  },
	props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    value:  {
      type: String,
      required: true,
    },
	},
    computed: {
        radioButtonValue: {
            get: function() {
                return this.value
            },
            set: function() {
                this.$emit("change", this.label)
            }
        }
    }
};
</script>

<style scoped lang="scss">
.radio {
    display: flex;
}
.circles {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}
.radio input {
    opacity: 0;
}
.circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    pointer-events: none;
}
.circleSelect {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
}
.label {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  font-weight: 600;
}

</style>
