<template>
    <div class="radioGroup cinput">
        <Clabel v-bind:label="label" />
        <div class="options">
            <Cradio 
                v-for="(item, index) in options"
                v-bind:key="index"
                v-bind:name="item"
                v-bind:label="item"
                v-bind:value="value" 
                v-on:change="changeValue"
            />
        </div>
    </div>
</template>

<script>
import Cradio from './Cradio.vue';
import Clabel from './Clabel.vue';

export default {
    name: 'RadioGroup',
    props: {
        value:  {
            type: String,
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
        label: {
            type: String,
            required: false,
        }
    },
    components: {
        Clabel,
        Cradio,
    },
    data() {
        return {     
        selectedValue: "Default theme"
        }
    },
    methods: {
        changeValue: function(value) {
            this.$emit("input", value)
        }
    },
};
</script>

<style scoped lang="scss">
.options {
    display: flex;
    justify-content: flex-start;
  }
  .radio {
      margin: 0 16px 0 0;
  }
</style>