<template>
  <div class="cinput jamselect"  v-click-outside="switchClose" v-bind:class="{ jamselectopen: isOpen }">
    <Clabel v-bind:label="label" v-if="label"/>
    <div class="jamselectbox"  @click="switchOpen()">
      <div class="jamselectboxtext">
        {{value}}
      </div>
      <div class="jamslectboxiocon">
        <Cicon
          icon='Arrow'
          :color="isOpen ? '#000' : '#FFF'"
        />
      </div>
      <div class="jamselectoptions" v-if="isOpen" >
        <div class="jamselectoptionlist">
          <div 
            v-for="item in options"
            v-bind:key="item.index" 
            class="jamselectoption"
             v-bind:class="[item === value ? 'active' : '']"
             @click="setSelect(item)"
          >
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Clabel from './Clabel.vue';
import Cicon from './Cicon.vue';
import ClickOutside from '../helpers/outside.js'

export default {
  name: 'Cselect',
  components: {
    Clabel,
    Cicon,
  },
	props: {
    value: {
      type: String,
      required: false,
    },
    label: {
      type: String,
      required: false,
    },
    options:  {
      type: Array,
      required: false,
    },
  },
  data() {
    return {
        isOpen: false,
        selected: 'Two',
    }
  },
  computed: {
		model: {
			get() { console.log('Input change', this.value); return this.value },
			set(v) { this.$emit("input", v) }
		}
	},
  methods: {
    switchOpen: function () {
        this.isOpen = !this.isOpen
    },
    switchClose: function () {
      this.isOpen = false;
    },
    setSelect: function (item) {
        this.$emit('input', item)
    },
  },
  mounted () {
    // prevent click outside event with popupItem.
    this.popupItem = this.$el
  },
  // do not forget this section
  directives: {
    ClickOutside
  }
};
</script>

<style scoped lang="scss">
.jamselectbox {
  position: relative;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 16px 0 8px;
  color: rgb(242, 242, 242);
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(51, 51, 51, .5);
  border-radius: 8px;
  outline: none;
  transition: border .4s;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  user-select: none;
}
.jamselectopen .jamselectbox {
  background-color: rgba(242, 242, 242, .95);
  color: rgba(0, 0, 0, .8);
}
.jamselectopen .outline, .jamselectopen .fill {
  fill: rgba(0, 0, 255, .8);
}
.jamselectboxtext {
  flex-grow: 1;
  padding: 0 12px 0 0;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jamslectboxiocon {
  flex-grow: 0;
  transform: rotate(0deg);
  transition: transform .2s linear;
}
.jamselectopen .jamslectboxiocon {
  color: #000000;
  transform: rotate(180deg);
  transition: transform .2s linear;
}
.inputbox:focus {
  border: 1px solid rgba(255, 255, 255, .1);
}
.jamselectoptions {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
  border-radius: 8px;
  box-shadow: 0px 6px 12px #000000;
  box-shadow: 0px 2px 6px #000000;
  animation-name: openoptions;
  animation-duration: .4s;
}
.jamselectoptionlist {
  background-color: rgba(242, 242, 242, 1);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.jamselectoption {
  padding: 10px 8px 10px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.jamselectoption:hover {
background-color: rgba(0, 0, 0, .05);
}
.jamselectoptions .active {
  background-color: rgba(0, 0, 20, .05);
  color: rgba(26, 28, 30, 1);
  font-weight: 600;
}

@keyframes openoptions {
  from {opacity: 0;}
  to {opacity: 1;}
}

</style>
