<template>
    <div class="jamview">
      <div class='jamheader'>
        <div v-on:click="onBack">
          <Cicon icon='Close' />
        </div>
        <div class='jamheadertext'>
          <slot name="headerinfo">
          </slot>
        </div>
        <div class="headerend">
          <slot name="headericon">
          </slot>
        </div>
      </div>
      <slot></slot>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Cicon from '../shared/Cicon.vue';

export default {
  name: 'EditorViews',
  	props: {
  },
  components: {
    Cicon,
  },
  methods: {
    ...mapMutations([
      'setCurrentView', 
    ]),
    onBack: function () {
      this.setCurrentView();
    },
    onMore: function () {
      console.log('More')
    }
  }
};
</script>

<style scoped lang="scss">
  .jamview {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 480px;
    z-index: 9999;
    overflow-y: auto;
    background-color: rgba(42, 42, 47, 1);
    animation: jamSlideIn .4s cubic-bezier(0, 1, 0.5, 1);
  }
  .jamview::-webkit-scrollbar {
    width: 0;
  }
  .jamheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 16px 0 16px;
  }
  .jamheadertext {
    padding: 0 0 0 16px;
  }
  .headerend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
  }
  .headerend .cIcon {
    margin: 0 0 0 16px;
  }
  .options {
    padding: 32px 16px 32px 16px;
  }
  .options .cinput {
    padding: 0 0 32px 0;
  }

  @keyframes jamSlideIn {
    from {transform: translate(480px);}
    to {transform: translate(0px);}
  }
</style>