<template>
    <div class="jamfilesfile" draggable="true" v-on:drag="onDrag" v-on:dblclick="ondblClick">
        <div class="jamfileicon">
            <Cicon icon="file" size="12px" color="rgba(255, 255, 255, .6)"/>
        </div>
        <div class="jamfilename">
            {{name}}
        </div>
        <div class="jamfileaction" v-on:click="onAction">
            <Cicon icon="dots" size="12px" color="rgba(255, 255, 255, .6)"/>
        </div>
    </div>
</template>


<script>
import { mapState, mapMutations } from 'vuex';
import Cicon from '../shared/Cicon.vue';

export default {
    name: 'FilesFolder',
    components: {
        Cicon,
    },
    props: {
        name: {
          type: String,
          required: true,
        },
        path: String,
        required: true,
    },
    computed: {
        ...mapState([ 'currentlyDragging' ]),
    },
    methods: {
        ...mapMutations([
            'setDraggedFile', 
            'setCurrentlyEditing',
        ]),
        ondblClick: function () {
            console.log(this.path);
            this.setCurrentlyEditing(this.path);
        },
        onDrag: function (e) {
            if (this.path !== this.currentlyDragging.path) {
                this.setDraggedFile({name: this.name, path: this.path});
            }
        },
        onAction: function () {
            console.log('Action');
        }
    }
};
</script>

<style scoped lang="scss">
.jamfilesfile {
    display: flex;
    align-items: center;
    margin: 0 -4px 0 -4px;
    padding: 4px 4px 4px 4px;
    user-select: none;
}
.jamfilesfile:hover {
    background-color: rgba(255, 255, 255, .1);
}
.jamfilename {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.jamfileicon {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: -6px 0 0 0;
    padding: 0 8px 0 0;
}
.jamfileaction {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: -6px 0 0 0;
    padding: 0 8px 0 0;
    opacity: 0;
}
.jamfilesfile:hover .jamfileaction {
    opacity: 1;
}
</style>


