<template>
    <div 
        class="jamfilesfolder"
        v-bind:class="isOver ? 'jamfolderover' : ''"
    >
        <div 
            class="jamfolderheader"
            v-bind:class="path === selectedFolder ? 'jamfolderselected' : ''"
            @click="toggleOpen"
            v-on:dragover="onDragOver"
            v-on:dragleave="onDragLeave"
            v-on:drop="onDragDrop"
        >
            <div class="jamfoldericon" v-bind:class="isOpen ? 'jamfoldericonopen' : '' ">
                <Cicon icon="arrow" size="16px" color="rgba(255, 255, 255, .6)"/>
            </div>
            <div class="jamfoldername">
                {{name}}
            </div>
            <div class="jamfolderaction" v-on:click.stop="onAction">
                <Cicon icon="dots" size="12px" color="rgba(255, 255, 255, .6)"/>
            </div>
        </div>
        <div class="jamfolderkids" v-if="isOpen" >
            <FilesFolder
                v-for="(item) in folders"
                v-bind:key="item.path"
                v-bind:name="item.name"
                v-bind:path="item.path"
                v-bind:kids="kids"
            />
            <div 
                @click="onClick"
                v-on:dragover="onDragOver"
                v-on:dragleave="onDragLeave"
                v-on:drop="onDragDrop"
            >
                <FilesFile
                    v-for="(item) in files"
                    v-bind:key="item.path"
                    v-bind:name="item.name"
                    v-bind:path="item.path"
                />
            </div>
        </div>
    </div>
</template>


<script>
import { mapState, mapMutations } from 'vuex';
import FilesFile from './FilesFile.vue';
import FilesFolder from './FilesFolder.vue';
import Cicon from '../shared/Cicon.vue';

export default {
    name: 'FilesFolder',
    components: {
        FilesFile,
        FilesFolder,
        Cicon,
    },
    props: {
        name: {
          type: String,
          required: false,
        },
        path: {
            type: String,
            required: true,
        },
        kids: {
            type: Array,
            required: false,
        },
        expanded: {
            type: Boolean,
            required: false,
            default: false,
        }
    },
    data() {
        return {
            isOpen: this.expanded,
            isOver: false,
        }
    },
    computed: {
        ...mapState([
            'selectedFolder', 
            'currentlyDragging'
        ]),
        folders: function () {
            return this.kids.filter( item => {
                    if (item.type === 'folder') {
                        if (this.path + "/" + item.name === item.path) {
                            return item
                        }else if (this.path + item.name === item.path) {
                            return item
                        }
                    }
                }
            )
        },
        files: function () {
            return this.kids.filter(item => {
                    if (item.type === 'file') {
                        if (this.path + "/" + item.name === item.path) {
                            return item
                        }else if (this.path + item.name === item.path) {
                            return item
                        }
                    }
                }
            )
        }
    },
    methods: {
        ...mapMutations([
            'setSelectedFolder', 
        ]),
        onClick: function () {
            this.setSelectedFolder(this.path);
        },
        toggleOpen: function () {
            this.setSelectedFolder(this.path);
            this.isOpen = !this.isOpen;
        },
        onDragOver: function () {
            event.preventDefault();
            if (!this.isOver) {
                if (
                    this.path + "/" + this.currentlyDragging.name !== this.currentlyDragging.path &&
                    this.path + this.currentlyDragging.name !== this.currentlyDragging.path
                    ) {
                    this.isOver = true;
                }
            }
        },
        onDragLeave: function () {
            this.isOver = false;
        },
        onDragDrop: function () {
            this.isOver = false;
            console.log('Dropped ', this.currentlyDragging.path, ' into ', this.path);
        },
        onAction: function () {
            event.preventDefault();
            console.log('Action');
        }
    }
};
</script>

<style scoped lang="scss">
.jamfilesfolder {
    padding: 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s linear
}
.jamfolderover {
    background-color: rgba(255, 255, 255, .06);
}
.jamfolderheader {
    display: flex;
    align-items: center;
    margin: 0 0 0 -4px;
    padding: 4px 0 4px 4px;
    cursor: pointer;
}
.jamfolderheader:hover {
    background-color: rgba(255, 255, 255, .1);
}
.jamfolderaction {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: -6px 0 0 0;
    padding: 0 8px 0 0;
    opacity: 0;
}
.jamfolderheader:hover .jamfolderaction {
    opacity: 1;
}
.jamfolderselected {
    background-color: rgba(76, 42, 255, .2);
}
.jamfoldericon {
    transform: rotate(-90deg);
    transition: transform .1s linear;
    flex-grow: 0;
}
.jamfoldericonopen {
    transform: rotate(0deg);
  transition: transform .1s linear;
}
.jamfoldername {
    flex-grow: 1;
    padding: 0 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.jamfolderkids {
    margin: 0 0 0 6px;
    padding: 0 0 0 10px;
    border-left: 1px solid rgba(255, 255, 255, .2);
}

</style>


