<template>
  <div class="jammenu">
      <div class="jamburger" v-on:click="openMenu">
        <div id="one" class="jamburgerline"></div>
        <div id="two" class="jamburgerline"></div>
        <div id="three" class="jamburgerline"></div>
      </div>
      <nav class="jammenuopen" v-if="isOpen">
        <div class="jammenuclose" v-on:click="closeMenu">
          <Cicon icon="Close" color="rgba(255, 255, 255, .8)"></Cicon>
        </div>
        <div class="jammenuitems">
          <div class="jammenurow" v-on:click="openFile('site')">
            <Cicon icon="Gear" color="rgba(255, 255, 255, .4)"></Cicon>
            <div class="jammenurowtitle">
              Edit site settings
            </div>
          </div>
          <div class="jammenurow">
            <Cicon icon="Plus" color="rgba(255, 255, 255, .4)"></Cicon>
            <div class="jammenurowtitle">
              Create new content
            </div>
          </div>
          <div class="jammenurow" v-on:click="openView('files')">
            <Cicon icon="File" color="rgba(255, 255, 255, .4)"></Cicon>
            <div class="jammenurowtitle">
              Browse content
            </div>
          </div>
          <div class="jammenurow" v-on:click="openView('save')">
            <Cicon icon="Disk" color="rgba(255, 255, 255, .4)"></Cicon>
            <div class="jammenurowtitle">
              Save changes
            </div>
          </div>
        </div>
      </nav>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import Cicon from './Cicon';

export default {
  name: 'Menu',
  components: {
    Cicon,
  },
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    ...mapMutations([
      'setCurrentlyEditing',
      'setCurrentView'
    ]),
    openMenu: function () {
        this.isOpen=true;
    },
    closeMenu: function () {
        this.isOpen=false;
    },
    openFile: function (path) {
      this.isOpen=false;
      this.setCurrentlyEditing(path);
    },
    openView: function (path) {
      this.isOpen=false;
      this.setCurrentView(path);
    }
  }
};
</script>

<style scoped lang="scss">
  .jammenu {
    color: white;
    user-select: none;
    position: relative;
  }
  .jamburger {
    width: 24px;
    height: 24px;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
  }
  .jamburgerline {
    height: 1px;
    margin: 0 0 7px 0;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 2px;
  }
  .jamburger #one {
    width: 24px;
  }  
  .jamburger #two {
    width: 18px;
    transition: width .2s;
  }  
  .jamburger #three {
    width: 12px;
    transition: width .3s;
  }
  .jamburger:hover #two {
    width: 24px;
  }  
  .jamburger:hover #three {
    width: 24px;
  }
  .jammenuopen {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 360px;
    background-color: rgba(34, 34, 37, 1);
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, .6);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .6);
    animation: slideIn .5s cubic-bezier(0, 1, 0.5, 1);
  }
  .jammenuclose {
    padding: 16px 16px 16px 16px;
    margin: 0 0 32px 0;
    cursor: pointer;
  }
  .jammenuitems {
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
  .jammenurow {
    display: flex;
    align-items: center;
    width: 360px;
    padding: 16px 16px 16px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: background-color .4s;
    cursor: pointer;
    box-sizing: border-box;
  }
  .jammenurow:hover {
    background-color: rgba(255, 255, 255, .02);
  }
  .jammenurowtitle {
    padding: 0 0 0 8px;
    font-size: 12px;
  }
  @keyframes slideIn {
    from {width: 0px}
    to {width: 360px}
  }

</style>