<template>
    <div class="jamsavelistitem" v-on:click="onClick(id)">
      <div class="checkbox">
        <Ccheckbox v-bind:value="file" v-bind:checked="checked" />
      </div>
      <div class="details">
        <p class="jaminfo">{{type}}</p>
        <p>{{file}}</p>
      </div>
    </div>
</template>


<script>
import Ccheckbox from '../shared/Ccheckbox'

export default {
    name: 'SaveListItem',
    components: {
        Ccheckbox,
    },
    props: {
        id: {
          type: Number,
          required: false,
        },
        type: {
            type: String,
            required: true,
        },
        file: {
          type: String,
            required: true,
        },
        checked: {
            type: Boolean,
            required: true,
        }, 
        onClick: {
          type: Function,
          required: true,
        }
    },
    computed: {

    },
};
</script>

<style scoped lang="scss">
.jamsavelistitem {
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    user-select: none;
}
.checkbox {
  pointer-events: none;
}
.details {
  padding: 0 0 0 12px;
}

</style>


