<template>
    <button class="jamiconwrap" v-on:click="setCurrentView('save')">
        <Cicon icon='Disk' /> 
        <div class="jamindicator">
            {{changesListCount}}
        </div> 
    </button>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import Cicon from './Cicon';

export default {
  name: 'SaveButton',
  	props: {
    activeView: {
      type: String,
      required: false,
      default: "",
    },
  },
  components: {
    Cicon,
  },
  computed: {
    ...mapGetters([
      'changesListCount',
    ])
  },
  methods: {
    ...mapMutations([
      'setCurrentView'
    ]),
  }
};
</script>

<style scoped lang="scss">
  .jamiconwrap {
    position: fixed;
    top: 0;
    right: 16px;
    height: 56px;
    flex-grow: 0;
  }
  .jamindicator {
    position: fixed;
    top: 2px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: rgba(237, 30, 121, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: 800;
    text-align: center;
  }


</style>