<template>
  <div class="header">
      <div class="tabs">
          <button class="tab" v-on:click="onClick('edit')" >
              <Cicon icon='Pencil' v-bind:isActive="activeView === 'edit'" />   
          </button>
          <button class="tab" v-on:click="onClick('files')">
              <Cicon icon='File'  v-bind:isActive="activeView === 'files'"/>   
          </button>
          <button class="tab" v-on:click="onClick('save')">
              <div class="jamiconwrap">
                <Cicon icon='Disk' v-bind:isActive="activeView === 'save'"/> 
                <div class="jamindicator">
                  24
                </div> 
              </div>
          </button>
          <div class="highlight" v-bind:class="activeView"/>
      </div>
  </div>
</template>

<script>
import Cicon from './Cicon';

export default {
  name: 'TopNav',
  	props: {
    activeView: {
      type: String,
      required: false,
      default: "",
    },
    onClick: {
      type: Function,
      required: true
    },
  },
  components: {
    Cicon,
  },
  computed: {
    highlightPos() {
        switch(this.activeTab) {
        case "files":
          return 'two';
          break;
        case "save":
          return 'three';
          break;
        default:
          return 'one';
      }; 
    }
  },
};
</script>

<style scoped lang="scss">
  .topNav {
      width: 100%;
  }
  .tabs {
      position: relative;
      width: 360px;
      margin: 0 auto 0 auto;
      display: flex;
      justify-content: center;
  }
  .tab {
      width: 120px;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 16px 0 16px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  .highlight {
      position: absolute;
      bottom: 0px;
      width: 120px;
      height: 1px;
      background-color:  rgba(255, 255, 255, .15);
      -webkit-transition: left .2s; 
      -webkit-transition-timing-function: ease-out;
      transition: left .2s;
      transition-timing-function: ease-out;

  }
  .edit {
      left: 0px;
  }
  .files {
      left: 120px;
  }
  .save {
      left: 240px;
  }
  .jamiconwrap {
    position: relative;
  }
  .jamindicator {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: rgba(237, 30, 121, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 8px;
    font-weight: 800;
    text-align: center;
  }


</style>