<template>
  <div class="demo">
    <div id="preview" v-html="pageMarkdown.content" data-jambalaya="pages/page1.md"></div>
    <div class="icons" v-if="loaded">
        <div class="icon" v-if="pageMarkdown.data.fields.icons.value.indexOf('Settings') > -1">
            <Cicon icon="Gear" color="rgba(128, 128, 128, 1)"></Cicon>
        </div>
        <div class="icon" v-if="pageMarkdown.data.fields.icons.value.indexOf('Save') > -1">
            <Cicon icon="Disk" color="rgba(128, 128, 128, 1)"></Cicon>
        </div>
        <div class="icon" v-if="pageMarkdown.data.fields.icons.value.indexOf('Search') > -1">
            <Cicon icon="Search" color="rgba(128, 128, 128, 1)"></Cicon>
        </div>
    </div>
    <div class="componenets" v-if="loaded">
        <div 
            class="comp "
            v-bind:class="{
                    Dark: comp1Markdown.data.fields.theme.value === 'Dark',
                    Left:  comp1Markdown.data.fields.align.value === 'Left',
                    Center:  comp1Markdown.data.fields.align.value === 'Center',
                    Right:  comp1Markdown.data.fields.align.value === 'Right',
                }"

            data-jambalaya="pages/comp/comp1.md"
        >
            <h2>{{comp1Markdown.data.fields.title.value}}</h2>
            <div v-html="comp1Markdown.content"></div>
        </div>
        <div 
            class="comp "
            v-bind:class="{
                Dark: comp2Markdown.data.fields.theme.value === 'Dark',
                Left:  comp2Markdown.data.fields.align.value === 'Left',
                Center:  comp2Markdown.data.fields.align.value === 'Center',
                Right:  comp2Markdown.data.fields.align.value === 'Right',
            }"
            data-jambalaya="pages/comp/comp2.md"
        >
            <h2>{{comp2Markdown.data.fields.title.value}}</h2>
            <div v-html="comp2Markdown.content"></div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import axios from 'axios';
import marked from 'marked';
import FM from 'gray-matter';
import Cicon from './shared/Cicon';

export default {
    name: 'Demo',
    components: {
        Cicon,
    },
    props: {
        msg: String,
    },
    data() {
        return {
            markdown: '',
            loaded: false,
        }
    },
    computed : {
        ...mapState([ 'changesList' ]),
        pageMarkdown: function () {
            let pageMd = this.changesList.find(item => item.path === 'pages/page1.md');
            if(pageMd !== undefined && pageMd.content !== undefined){
                let frontmatter = FM(pageMd.content)
                return {content: marked(frontmatter.content, { }), data: frontmatter.data }
            } else {
                return {content: marked('', { }), data: {}}
            }
        },
        comp1Markdown: function () {
            let pageMd = this.changesList.find(item => item.path === 'pages/comp/comp1.md');
            if(pageMd !== undefined && pageMd.content !== undefined){
                let frontmatter = FM(pageMd.content)
                return {content: marked(frontmatter.content, { }), data: frontmatter.data }
            } else {
                return {content: marked('', { }), data: {}}
            }
        },
        comp2Markdown: function () {
            let pageMd = this.changesList.find(item => item.path === 'pages/comp/comp2.md');
            if(pageMd !== undefined && pageMd.content !== undefined){
                let frontmatter = FM(pageMd.content)
                return {content: marked(frontmatter.content, { }), data: frontmatter.data }
            } else {
                return {content: marked('', { }), data: {}}
            }
        }
    },
    methods: {
        ...mapActions([
            'loadDemoData', 
        ]),
    },
    created: function() {
        setTimeout(() => {
              this.loadDemoData('pages/page1.md');
              this.loadDemoData('pages/comp/comp1.md');
              this.loadDemoData('pages/comp/comp2.md');
        }, 1000);
        setTimeout(() => {
              this.loaded = true;
        }, 2000);

    },
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.demo {
  padding: 0 64px 0 64px;
}
.componenets {
    display: flex;
    width: 100%;
}
.comp {
    width: 50%;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 16px;
    padding: 16px;
    margin: 0 16px 0 0;
    flex-grow: 0;
}
.icons {
    padding: 32px 0 32px 0;
    display: flex;
}
.icon {
    padding: 0 16px 0 0;
}
.Dark {
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, .9);
}
.Left {
    text-align: left;
}
.Center {
    text-align: center;
}
.Right {
    text-align: right;
}
</style>
<!-- 
---
fields: [
 {
 type: input,
    title: Title,
    value: Component Two
  },
  {
    type: select,
    title: Theme,
    value: Default,
    options: [Default, Dark]
  }
]
---

 -->