<template>
  <div class="login">
      <div class="logo">
        <i class="fas fa-code-branch" />
      </div>
      <p class="message">
          You are not currently logged in.
      </p>
      <p class="instructions">
          Please enter your personal access token from GitLab to connect to your repository.
      </p>
      <Cinput v-model="tokeninput" password placeholder="Enter your token"/>
      <div class="go">
          <Btn text='Login' :onClick="onLogIn" v-bind:working="authState === 'loading'? true : false" />
      </div>
      <div v-if="authState === 'error'" class="error">Log in failed, please try agin</div>
      <div class="offset"/>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Cinput from "./shared/Cinput.vue";
import Btn from "./shared/Button.vue";
import Api from '../api.js';

export default {
    name: 'Login',
    props: {

    },
    components: {
        Cinput,
        Btn,
    },
    data() {
        return {
        tokeninput: '',
        }
    },
    computed: mapState([ 'authState' ]),
    methods: {
        ...mapActions([
            'logIn', 
        ]),
        onLogIn: function () {
            console.log('Id like to log in');
            this.logIn(this.tokeninput);
        },
  }
};
</script>


<style scoped>
    .login {
        height: 100%;
        padding: 0 36px 0 36px;
    }
    .logo {
        color: rgba(128, 128, 156, 1);
        font-size: 128px;
        padding: 48px 0 48px 0;
    }
    .message {
        font-size: 32px;
        text-align: left;
        margin: 0;
    }
    .instructions {
        text-align: left;
        padding: 48px 24px 48px 0;
        margin: 0;
    }
    .go {
        font-size: 32px;
        padding: 12px 0 0 0;
        text-align: left;
    }
    .offset {
        height: 200px;
    }
    .error {
        padding: 24px 0 0 0;
        color: rgb(255, 77, 152);
        text-align: left;
        animation: fadein 1.2s;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
</style>
