<template>
  <div class="editor">
      <div class="views">
        <transition name="jamslide">
          <Home v-if="currentView === ''" id="jamhome"/>
          <Editor v-else-if="currentView === 'editor'"/>
          <Save v-else-if="currentView === 'save'"/>
          <Files v-else-if="currentView === 'files'"/>
        </transition>
      </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Editor from './views/Editor.vue';
import Files from './views/Files.vue';
import Home from './views/Home.vue';
import Save from './views/Save.vue';


export default {
  name: 'Main',
  components: {
    Editor,
    Home,
    Files,
    Save,
  },
  computed: {
    ...mapState([ 'currentView' ])
  },
  methods: {
    ...mapActions([ 'loadEditorData']),
    onPageClick: function () {
      if (event.target.getAttribute("data-jambalaya") !== null) {
        this.loadEditorData(event.target.getAttribute("data-jambalaya"));
      }
    },
  },
  created: function() {
    window.addEventListener('click',this.onPageClick);
  },
  destroyed: function() {
    window.removeEventListener('click', this.onPageClick);
  },
};
</script>

<style scoped lang="scss">
  .editor {
      color: rgba(255, 255, 255, .9);
  }
  #jamhome {
    animation: none;
  }
  .jamslide-leave-to  {
    animation: jamSlideOut .2s ease-in;
  }
  @keyframes jamSlideOut {
    from {transform: translate(0px);}
    to {transform: translate(480px);}
  }

</style>

<style lang="scss">
  *[data-jambalaya] {
    position: relative;
  }
  *[data-jambalaya]:hover:after {
    content: '';
    position: absolute;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    border: 2px dashed rgba(156, 156, 156, .2);
    border-radius: 8px;
    fill:rgba(237, 30, 121, .5);
    background-image: url('~@/assets/logo.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 99.5% .5%; 
  }
</style>