<template>
  <div class="cont">
    <div id="preview" class="col-md-6" v-html="compiledMarkdown"></div>
  </div>
</template>

<script>
import axios from 'axios';
import marked from "marked";

export default {
  name: 'Tree',
  props: {
    msg: String,
  },
  data() {
    return {
      markdown: '',
    }
  },

  computed : {
    compiledMarkdown: function () {
      return marked(this.markdown, { })
    }
  },
  created: function() {
      axios.defaults.headers.common['PRIVATE-TOKEN'] = '';
      axios.get(`https://gitlab.com/api/v4/projects/13260689/repository/files/pages%2Fcomp%2Fcomp1%2Emd/raw?ref=master`)
      .then(res => {
      this.markdown = res.data;
      console.log("I got Mark", res.data);
      })
    },
  methods: {
    loadmark: function () {
        console.log("Load");
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.cont {
  background-color: rgba(51, 51, 51, .95);
  color: rgb(242, 242, 242);
  padding: 30px;
}
</style>

