<template>
  <div class="cont">
    <h1>{{ msg }}</h1>
    <button v-on:click="say('good')">Load</button>
    <div>
      I am the trees
      {{ info }}
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Tree',
  props: {
    msg: String,
  },
  data() {
    return {
      info: 'cat',
    }
  },
  methods: {
    say: function (message) {
        axios.defaults.headers.common['PRIVATE-TOKEN'] = '';
        axios.get(`https://gitlab.com/api/v4/projects/13260689/repository/tree?recursive=1`)
        .then(res => {
        const thedata = res;
        console.log("The tree data", thedata);
        })

        axios.get(`https://gitlab.com/api/v4/projects/13260689/repository/files/pages%2Fpage1%2Emd/raw?ref=master`)
        .then(res => {
        const thedata = res;
        console.log("The file", thedata);
        })

        axios.get(`https://gitlab.com/api/v4/projects/13260689/repository/blobs/92cae2e6c99efac5c7fea52a453fb232df98c0c5`)
        .then(res => {
        const thedata = res;
        console.log("The blob", thedata);
        })

        axios.get(`https://gitlab.com/api/v4/projects/13260689/repository/blobs/92cae2e6c99efac5c7fea52a453fb232df98c0c5/raw`)
        .then(res => {
        const thedata = res;
        console.log("The blob raw", thedata);
        })
        
        axios.get(`https://gitlab.com/api/v4/projects/13260689/search?scope=blobs&search=92cae2e6c99efac5c7fea52a453fb232df98c0c5`)
        .then(res => {
        const thedata = res;
        console.log("The search", thedata);
        })

    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.cont {
  background-color: #0FF;
  padding: 30px;
}
</style>
