<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path class="st0" d="M19.8,7.8c-0.4-0.4-1-0.4-1.4,0L12,14.1L5.6,7.8c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l7.1,7.1
      c0.4,0.4,1,0.4,1.4,0l7.1-7.1C20.2,8.8,20.2,8.1,19.8,7.8z"/>
  </svg>
</template>