<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		<path class="st1" d="M18,2H6C3.8,2,2,3.8,2,6v12c0,2.2,1.8,4,4,4h12c2.2,0,4-1.8,4-4V6C22,3.8,20.2,2,18,2z M21,18
			c0,1.7-1.3,3-3,3H6c-1.7,0-3-1.3-3-3V6c0-1.7,1.3-3,3-3h12c1.7,0,3,1.3,3,3V18z"/>
		<path class="st1" d="M16.9,7.8l-6.4,6.4l-3.5-3.5c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l4.2,4.2c0.4,0.4,1,0.4,1.4,0l7.1-7.1
			c0.4-0.4,0.4-1,0-1.4C18,7.4,17.3,7.4,16.9,7.8z"/>
  </svg>
</template>