<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M21.19,18.36L14.83,12l6.36-6.36c0.78-0.78,0.78-2.05,0-2.83c-0.78-0.78-2.05-0.78-2.83,0L12,9.17L5.64,2.81
      c-0.78-0.78-2.05-0.78-2.83,0c-0.78,0.78-0.78,2.05,0,2.83L9.17,12l-6.36,6.36c-0.78,0.78-0.78,2.05,0,2.83s2.05,0.78,2.83,0
      L12,14.83l6.36,6.36c0.78,0.78,2.05,0.78,2.83,0C21.97,20.41,21.97,19.14,21.19,18.36z M19.07,20.49l-6.36-6.36L12,13.41l-0.71,0.71
      l-6.36,6.36c-0.39,0.39-1.02,0.39-1.41,0c-0.39-0.39-0.39-1.02,0-1.41l6.36-6.36L10.59,12l-0.71-0.71L3.51,4.93
      c-0.39-0.39-0.39-1.02,0-1.41s1.02-0.39,1.41,0l6.36,6.36L12,10.59l0.71-0.71l6.36-6.36c0.39-0.39,1.02-0.39,1.41,0
      s0.39,1.02,0,1.41l-6.36,6.36L13.41,12l0.71,0.71l6.36,6.36c0.39,0.39,0.39,1.02,0,1.41C20.1,20.88,19.46,20.88,19.07,20.49z"/>
  </svg>
</template>