<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M21.19,18.36L14.83,12l6.36-6.36c0.78-0.78,0.78-2.05,0-2.83c-0.78-0.78-2.05-0.78-2.83,0L12,9.17L5.64,2.81
      c-0.78-0.78-2.05-0.78-2.83,0c-0.78,0.78-0.78,2.05,0,2.83L9.17,12l-6.36,6.36c-0.78,0.78-0.78,2.05,0,2.83s2.05,0.78,2.83,0
      L12,14.83l6.36,6.36c0.78,0.78,2.05,0.78,2.83,0C21.97,20.41,21.97,19.14,21.19,18.36z"/>
  </svg>
</template>