<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M22,13c-0.55,0-1-0.45-1-1c0-0.55,0.45-1,1-1h1V5c0-2.2-1.8-4-4-4H5C2.8,1,1,2.8,1,5v14c0,2.2,1.8,4,4,4h5
        c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1h5c2.2,0,4-1.8,4-4v-6H22z M12,15c-1.66,0-3-1.34-3-3s1.34-3,3-3s3,1.34,3,3S13.66,15,12,15z
        "/>
  </svg>
</template>