<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12,1c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3S13.66,1,12,1L12,1z"/>
    <path d="M12,9c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3S13.66,9,12,9L12,9z"/>
    <path d="M12,17c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3s3-1.34,3-3C15,18.34,13.66,17,12,17L12,17z"/>
  </svg>
</template>