<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12,10c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S10.9,10,12,10 M12,9c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3
        S13.66,9,12,9L12,9z"/>
    <path d="M12,18c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S10.9,18,12,18 M12,17c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3
        S13.66,17,12,17L12,17z"/>
    <path d="M12,2c1.1,0,2,0.9,2,2s-0.9,2-2,2s-2-0.9-2-2S10.9,2,12,2 M12,1c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3
        S13.66,1,12,1L12,1z"/>
  </svg>
</template>