<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path style="display:inline;" d="M18,1c1.65,0,3,1.35,3,3v16c0,1.65-1.35,3-3,3H6c-1.65,0-3-1.35-3-3V4
	c0-1.65,1.35-3,3-3H18 M18,0H6C3.8,0,2,1.8,2,4v16c0,2.2,1.8,4,4,4h12c2.2,0,4-1.8,4-4V4C22,1.8,20.2,0,18,0L18,0z"/>
    <path style="display:inline;fill-rule:evenodd;clip-rule:evenodd;" d="M17.5,6h-11C6.22,6,6,5.78,6,5.5v0
        C6,5.22,6.22,5,6.5,5h11C17.77,5,18,5.22,18,5.5v0C18,5.78,17.77,6,17.5,6z"/>
    <path style="display:inline;fill-rule:evenodd;clip-rule:evenodd;" d="M17.5,12h-11C6.22,12,6,11.78,6,11.5v0
        C6,11.22,6.22,11,6.5,11h11c0.27,0,0.5,0.22,0.5,0.5v0C18,11.78,17.77,12,17.5,12z"/>
    <path style="display:inline;fill-rule:evenodd;clip-rule:evenodd;" d="M17.5,18h-11C6.22,18,6,17.77,6,17.5l0,0
        C6,17.23,6.22,17,6.5,17h11c0.27,0,0.5,0.23,0.5,0.5l0,0C18,17.77,17.77,18,17.5,18z"/>
  </svg>
</template>