<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M18,0H6C3.8,0,2,1.8,2,4v16c0,2.2,1.8,4,4,4h12c2.2,0,4-1.8,4-4V4C22,1.8,20.2,0,18,0z M17.5,18h-11
        C6.22,18,6,17.77,6,17.5C6,17.22,6.22,17,6.5,17h11c0.28,0,0.5,0.22,0.5,0.5C18,17.77,17.78,18,17.5,18z M17.5,12h-11
        C6.22,12,6,11.77,6,11.5C6,11.22,6.22,11,6.5,11h11c0.28,0,0.5,0.22,0.5,0.5C18,11.77,17.78,12,17.5,12z M17.5,6h-11
        C6.22,6,6,5.77,6,5.5C6,5.22,6.22,5,6.5,5h11C17.78,5,18,5.22,18,5.5C18,5.77,17.78,6,17.5,6z"/>
  </svg>
</template>