<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.29,10.16c-0.21-0.97-0.6-1.89-1.13-2.73c0.28-0.72,0.14-1.57-0.44-2.15C18.34,4.9,17.84,4.7,17.3,4.7
	c-0.26,0-0.51,0.05-0.74,0.14c-0.84-0.53-1.76-0.92-2.73-1.13C13.53,3,12.82,2.5,12,2.5S10.47,3,10.16,3.71
	C9.2,3.92,8.27,4.3,7.44,4.84C7.2,4.74,6.95,4.7,6.7,4.7c-0.53,0-1.04,0.21-1.41,0.59C4.7,5.86,4.55,6.72,4.84,7.44
	C4.3,8.27,3.92,9.2,3.71,10.16C3,10.47,2.5,11.18,2.5,12c0,0.82,0.5,1.53,1.21,1.84c0.21,0.97,0.6,1.89,1.13,2.73
	c-0.28,0.72-0.14,1.57,0.44,2.15C5.66,19.1,6.16,19.3,6.7,19.3c0.26,0,0.51-0.05,0.74-0.14c0.84,0.53,1.76,0.92,2.73,1.13
	C10.47,21,11.18,21.5,12,21.5s1.53-0.5,1.84-1.21c0.97-0.21,1.89-0.6,2.73-1.13c0.23,0.09,0.48,0.14,0.74,0.14
	c0.53,0,1.04-0.21,1.41-0.59c0.58-0.58,0.73-1.43,0.44-2.15c0.53-0.84,0.92-1.76,1.13-2.73C21,13.53,21.5,12.82,21.5,12
	C21.5,11.18,21,10.47,20.29,10.16z M12,17c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5S14.76,17,12,17z"/>
  </svg>
</template>