<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12,3.5c0.55,0,1,0.45,1,1c0,0.03-0.01,0.05-0.01,0.07c1.33,0.18,2.55,0.7,3.57,1.48
        c0.02-0.02,0.02-0.04,0.04-0.06c0.2-0.2,0.45-0.29,0.71-0.29c0.26,0,0.51,0.1,0.71,0.29c0.39,0.39,0.39,1.02,0,1.41
        c-0.02,0.02-0.04,0.02-0.06,0.04c0.78,1.02,1.3,2.24,1.48,3.57c0.03,0,0.05-0.01,0.07-0.01c0.55,0,1,0.45,1,1c0,0.55-0.45,1-1,1
        c-0.03,0-0.05-0.01-0.07-0.01c-0.18,1.33-0.7,2.55-1.48,3.57c0.02,0.02,0.04,0.02,0.06,0.04c0.39,0.39,0.39,1.02,0,1.41
        c-0.2,0.2-0.45,0.29-0.71,0.29c-0.26,0-0.51-0.1-0.71-0.29c-0.02-0.02-0.02-0.04-0.04-0.06c-1.02,0.78-2.24,1.3-3.57,1.48
        c0,0.03,0.01,0.05,0.01,0.07c0,0.55-0.45,1-1,1s-1-0.45-1-1c0-0.03,0.01-0.05,0.01-0.07c-1.33-0.18-2.55-0.7-3.57-1.48
        c-0.02,0.02-0.02,0.04-0.04,0.06c-0.2,0.2-0.45,0.29-0.71,0.29c-0.26,0-0.51-0.1-0.71-0.29c-0.39-0.39-0.39-1.02,0-1.41
        c0.02-0.02,0.04-0.02,0.06-0.04c-0.78-1.02-1.3-2.24-1.48-3.57C4.55,12.99,4.53,13,4.5,13c-0.55,0-1-0.45-1-1c0-0.55,0.45-1,1-1
        c0.03,0,0.05,0.01,0.07,0.01c0.18-1.33,0.7-2.55,1.48-3.57C6.03,7.43,6.01,7.42,5.99,7.4c-0.39-0.39-0.39-1.02,0-1.41
        C6.18,5.79,6.44,5.7,6.7,5.7c0.26,0,0.51,0.1,0.71,0.29c0.02,0.02,0.02,0.04,0.04,0.06c1.02-0.78,2.24-1.3,3.57-1.48
        C11.01,4.55,11,4.53,11,4.5C11,3.95,11.45,3.5,12,3.5 M12,2.5c-0.82,0-1.53,0.5-1.84,1.21C9.2,3.92,8.27,4.3,7.44,4.84
        C7.2,4.75,6.95,4.7,6.7,4.7c-0.53,0-1.04,0.21-1.41,0.59C4.7,5.86,4.55,6.72,4.84,7.44C4.3,8.27,3.92,9.2,3.71,10.16
        C3,10.47,2.5,11.18,2.5,12s0.5,1.53,1.21,1.84c0.21,0.97,0.6,1.89,1.13,2.73c-0.28,0.72-0.14,1.57,0.44,2.15
        C5.66,19.1,6.16,19.3,6.7,19.3c0.26,0,0.51-0.05,0.74-0.14c0.84,0.53,1.76,0.92,2.73,1.13C10.47,21,11.18,21.5,12,21.5
        s1.53-0.5,1.84-1.21c0.97-0.21,1.89-0.6,2.73-1.13c0.23,0.09,0.48,0.14,0.74,0.14c0.53,0,1.04-0.21,1.41-0.59
        c0.58-0.58,0.73-1.43,0.44-2.15c0.53-0.84,0.92-1.76,1.13-2.73C21,13.53,21.5,12.82,21.5,12s-0.5-1.53-1.21-1.84
        c-0.21-0.97-0.6-1.89-1.13-2.73c0.28-0.72,0.14-1.57-0.44-2.15C18.34,4.9,17.84,4.7,17.3,4.7c-0.26,0-0.51,0.05-0.74,0.14
        c-0.84-0.53-1.76-0.92-2.73-1.13C13.53,3,12.82,2.5,12,2.5L12,2.5z"/>
    <path d="M12,7c2.76,0,5,2.24,5,5s-2.24,5-5,5s-5-2.24-5-5S9.24,7,12,7 M12,6c-3.31,0-6,2.69-6,6s2.69,6,6,6s6-2.69,6-6
        S15.31,6,12,6L12,6z"/>
  </svg>
</template>