<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.24,2.1l-3.18,3.18l-0.35,0.35l-0.35,0.35L2.1,16.24v5.66h5.66l10.25-10.25l0.35-0.35l0.35-0.35l3.18-3.18
	L16.24,2.1z M7.34,20.9H3.1v-4.24l9.96-9.96l4.24,4.24L7.34,20.9z M13.77,5.99l2.47-2.47l4.24,4.24l-2.47,2.47L13.77,5.99z"/>
  </svg>
</template>