<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12,2c5.51,0,10,4.49,10,10s-4.49,10-10,10S2,17.51,2,12S6.49,2,12,2 M12,1
      C5.92,1,1,5.92,1,12s4.92,11,11,11s11-4.92,11-11S18.08,1,12,1L12,1z"/>
    <path d="M17.5,11.5h-5v-5C12.5,6.22,12.28,6,12,6s-0.5,0.22-0.5,0.5v5h-5
      C6.22,11.5,6,11.72,6,12c0,0.28,0.22,0.5,0.5,0.5h5v5c0,0.28,0.22,0.5,0.5,0.5s0.5-0.22,0.5-0.5v-5h5c0.28,0,0.5-0.22,0.5-0.5
      C18,11.72,17.78,11.5,17.5,11.5z"/>
  </svg>
</template>