<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M12,1C5.92,1,1,5.92,1,12s4.92,11,11,11s11-4.92,11-11S18.08,1,12,1z M17.5,12.5h-5v5c0,0.28-0.22,0.5-0.5,0.5
	s-0.5-0.22-0.5-0.5v-5h-5C6.22,12.5,6,12.28,6,12c0-0.28,0.22-0.5,0.5-0.5h5v-5C11.5,6.22,11.72,6,12,6s0.5,0.22,0.5,0.5v5h5
	c0.28,0,0.5,0.22,0.5,0.5C18,12.28,17.78,12.5,17.5,12.5z"/>
  </svg>
</template>