<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.3,19.6l-6.1-6.1c0.9-1,1.4-2.4,1.4-3.9c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6c1.5,0,2.8-0.5,3.9-1.4
      l6.1,6.1c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1C20.5,20.1,20.5,19.8,20.3,19.6z"/>
  </svg>
</template>