<template>
  <div class="page">
    <Demo ></Demo>
    <div id="jambalaya" class="jambalaya">
        <Main v-if="authState === 'logged in'" >
        </Main>
        <Login v-else />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState, mapMutations, mapActions } from 'vuex';
import Login from './components/Login.vue';
import Main from './components/Main.vue';
import './styles/jambalaya.scss'

import Demo from './components/Demo.vue';

export default {
  name: 'App',
  props: {
    msg: String,
  },
  components: {
    Main,
    Login,
    Demo,
  },
  data() {
    return {
      activeid: "nobody",
    }
  },
  computed: {
    ...mapState(['count', 'authState', 'token', 'projectId'])
  },
  created: function() {
    const tkn = localStorage.getItem('jamtoken');
    if (tkn){
      this.logIn(tkn);
    }
    if (this.$root.$data.project) {
      //this.store.comit('setProjectId', this.$root.$data.project);
      this.onReady(this.$root.$data.project);
    }else{
      console.log("Need project id")
    }
  },
  methods: {
    ...mapMutations([
      'setCount',
      'setProjectId', 
    ]),
    ...mapActions([
      'logIn', 
      'logOut', 
    ]),
    onReady: function (prj) {
      this.$store.commit('setProjectId', prj)
    }
    
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #jambalaya {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 480px;
    background-color: rgba(32, 32, 36, 0.95);
    color: rgb(242, 242, 242);
    overflow-y: auto;
  }
  #jambalaya::-webkit-scrollbar { 
    width: 0 !important 
  }
</style>

<style>
  #jambalaya * {
    font-family: 'Open Sans', sans-serif;
  }
  .gitstudio:hover {
    background-color: rgb(255, 51, 255) !important;
  }
  .jambalaya button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .jambalaya input {
    outline: none;
  }
  #jambalaya p {
    padding: 0;
    margin: 0;
  }
  .jamtitle {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, .9);
    line-height: 24px;
  }
  .jaminfo {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, .4);
    line-height: 14px;
  }

</style>
